/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: #000;
  background-image: url(/images/cover-image-dark.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  user-select: none;
  position: relative;
  z-index: 0;
}

.header {
  padding: var(--spacing-s);
  display: grid;
  grid-template-rows: min-content 1fr 1fr 1fr min-content;
  align-items: center;
  z-index: 0;
  height: 100vh;

  &::before {
    content: "";
    display: flex;
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid var(--accent-color);
    border-block-start: 1px solid var(--accent-color);
    justify-self: end;
  }

  &::after {
    content: "";
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
  }
}

@media (min-width: 768px) {

  .header {
    padding-block: var(--spacing-m);
    padding-inline: 0px var(--spacing-m);
    grid-template-rows: min-content 1fr min-content 1fr min-content;

    &::after {
      margin-inline-start: var(--spacing-m);
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding-inline-start: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 0.1fr 0.7fr 0.2fr;

    &::before {
      grid-column-start: 3;
      align-self: start;
    }

    &::after {
      margin-inline-start: 20px;
      grid-row: 5;
      align-self: end;
    }
  }
}


@media (min-width: 1024px) {
  .header {
    padding-inline-start: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 0.1fr 0.7fr 0.2fr;

    &::before {
      grid-column-start: 3;
      align-self: start;
    }

    &::after {
      margin-inline-start: 20px;
      grid-row: 5;
      align-self: end;
    }
  }
}

.header__theme-menu {
  justify-self: end;
  padding-block-end: 25px;
}

@media (min-width: 1024px) {
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

@media (min-width: 1024px) {
  
  .header__theme-menu-list {
    flex-direction: row;
    padding-inline-start: var(--spacing-m);
    gap: 9px;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  font-style: normal;
  font-weight: var(--normal);
  line-height: 18px;
  text-transform: lowercase;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: none;
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.title {
  color: var(--main-title-color);
  font-style: normal;
  font-weight: var(--bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--text-shadow);
}

@media (min-width: 768px) {

  .title {
    align-self: center;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-row: 2;
    grid-column: 1 / span 3;
    margin-block-end: 0;
  }
}

.subtitle {
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: var(--bold);
  line-height: 23px;
  color: var(--subtitle-color);
  background-color: var(--text-shadow);
}

.subtitle-decor {
  margin-block-start: 25px;
}

@media (min-width: 768px) {
  
  .subtitle-decor {
    justify-self: end;
    width: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  
  .subtitle-decor {
    justify-self: end;
    width: calc(50% - 10px);
    grid-row-start: 4;
    grid-column: 1 / span 3;
  }
}

.main {
  padding: var(--spacing-l) var(--spacing-s);
}

@media (min-width: 768px) {
    
  .main {
    padding-block: var(--spacing-xl);
    padding-inline: var(--spacing-m);
  }
}

.section {
  display: grid;
  gap: var(--spacing-m);
}

@media (min-width: 768px) {

  .section:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
  }

}

@media (min-width: 1024px) {
  
  .section:nth-child(odd) {
    grid-template-columns: 0.97fr 2fr;
  }
}

.section:not(:last-child) {
  padding-block-end: calc(var(--spacing-l-1) - var(--spacing-m));
}

@media (min-width: 768px) {

  .section:not(:last-child) {
    padding-block-end: calc(var(--spacing-xxl) - var(--spacing-m));
  }
}

@media (min-width: 768px) {

  .section-extra__title {
    display: block;
    width: calc(100% / 3 - 10px);
  }
}

.section-extra__paragraph {
  display: grid;
}

@media (min-width: 1024px) {

  .section-extra__paragraph {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
  }
} 

.section__paragraph-subtitle {
  margin-block-end: var(--spacing-m);
}

.section__title {
  color: var(--accent-color);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: var(--bold);
}

.section__text {
  padding-block: var(--spacing-s) var(--spacing-m);
  color: var(--main-color);
  font-style: normal;
  line-height: 23.4px;
}

.subtitle__no-accent {
  line-height: 23.4px;
}

.section-gallery {
  gap: 10px;
}

@media (min-width: 768px) {

  .section-gallery {
    gap: var(--spacing-m);
  }
}

.section-gallery__images {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {

  .section-gallery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: var(--spacing-m);
  }
}

.section-gallery__images-item {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}

@media (min-width: 768px) {

  .section-gallery__images-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }

  .section-gallery__images-item:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-gallery__images-item:nth-of-type(3) {
    grid-row: 2 / 4;
  }

  .section-gallery__images-item:nth-of-type(5) {
    grid-column: span 2;
  }
}

.footer {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: var(--spacing-s);
  height: 100vh;


  &::before {
    content: "";
    display: flex;
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid var(--accent-color);
    border-block-start: 1px solid var(--accent-color);
    justify-self: end;
    grid-row: 1;
  }

  &::after {
    content: "";
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
    grid-row: 3;
  }
}

@media (min-width: 768px) {
    
  .footer {
    padding: var(--spacing-m);
  }
} 

@media (min-width: 1024px) {

  .footer {
    grid-template-columns: 1fr;
  }

}

.footer__title {
  justify-self: center;
  align-self: center;
  grid-row: 2;
}

/*стилизуем ссылки*/
.link {
  text-shadow: 2px 2px var(--text-shadow);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--main-color);
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--main-color);
}