/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  font-family: "IBM Plex mono", sans-serif;

  --main-color: #F1B2CE;
  --accent-color: #FF0070;
  --subtitle-color: #000028;
  --main-title-color: #DB00FF;
  --text-shadow: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);

  --spacing-s: 10px;
  --spacing-m: 20px;
  --spacing-l: 40px;
  --spacing-l-1: 50px;
  --spacing-xl: 60px;
  --spacing-xxl: 80px;

  --bold: 700;
  --normal: 400;

  --font-size-main: 18px;
}
